<html lang="en">
<title>CompSci Store</title>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CompSci Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span><form method="post" action="/home" style="max-height: 0">
        <a class="nav-link" href="#" onclick="this.closest('form').submit();return false;">Home </span> <span class="sr-only">(current)</span></a>
      </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Basket
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
          <div class="row">


          {% if 'cart' in session %}
          <span>
            <p class="card-title" style="font-weight: bold; text-align: center;">You have {{ Current_Cart|length }} items in your cart</p>
              <hr class="dropdown-divider">
          {% for x in Current_Cart %}
          <div class="card mb-3 text-white bg-dark" style="width: 20rem">
            <div class="row">
              <div class="col-md-6">
                <img src={{x[3]}} alt="..." style="width: 10rem;">
              </div>
              <div class="col-md-6">
                  <h5 class="card-title">{{x[1]}}</h5>
                  <span class="card-text" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{x[4]}}</span>
                  <span class="card-text"><small class="text-muted">£{{x[5]}}</small></span>
                    <form method="post" action="/remove">
                        <input type='hidden' name="code" value={{x[0]}}>
                        <input type="submit" class="btn btn-primary" value="Remove">
                    </form>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="row">
          <div class="col-md-6">
          <h5 class="card-title" style="text-align: left; margin-left: 0.5rem; margin-top: 0.6rem">Total:  £{{Price_Total}} </h5>
          </div>
          <div class=col-md-6>
            <form method="post" action="/basket">
                <input type="submit" class="btn btn-primary" value="Go to Basket" style="margin-top: 0.3rem">
            </form>
          </div>
        </div>
          <hr class="dropdown-divider">
          {% endif%}
          {% if not 'cart' in session %}
              <a class="dropdown-item" href="#" font-weight: bold; text-align: center;> There is no items in the cart </a>
          {% endif%}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="container">
  {% if From_add == True %}
  <div class="destroy">
    <br>
  <div class="card border-success" id="mydiv">
    <h5 class="card-header">Addition to cart</h5>
    <div class="card-body" >
      <h5 class="card-title">Item has successfully been added to cart</h5>
    </div>
  </div>
</div>
  {%endif%}




  <div class="row">
    <image src="/static/Real_FirstBack.jpg">
  </div>
  <h1 class="display-4 fw-normal" style="text-align: center"> One Stop Shop for Plushes! </h1>
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recommended
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Alphabetical</a>
    <a class="dropdown-item" href="#">Price</a>
    <a class="dropdown-item" href="#">Type</a>
  </div>
  <div class="row">
    {% for x in content %}
    <div class="col-sm">
      <div class="card text-white bg-dark" style="width: 20rem;">
        <img src={{x[3]}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{x[1]}}</h5>
          <p class="card-text">{{x[4]}}</p>
          <div class="row">
          <div class="col-sm-1-12">
          <form method="post" action="/add" >
          <input type='hidden' name="code" value={{x[0]}} style="margin-left: 1rem">
          <input type="submit" class="btn btn-primary" value="Add to Basket" style="margin-left: 1rem">
        </form>
        </div>
        <div class="col-sm-1-12">
        <form method="post" action="/goto">
        <input type='hidden' name="code" value={{x[0]}} style="margin-left: 1rem">
        <input type="submit" class="btn border-success text-white" value="Go to Pokemon" style="margin-left: 1rem">
        </form>
        </div>
        </div>
      </div>
      </div>
      <div><p></p></div>
     </div>
      {% endfor %}
    </div>
</div>
<div><p></p></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
setTimeout(fade_out, 1500);
function fade_out() {
  $("#mydiv").fadeOut().empty();
}
</script>
</script>
</body>
</html>
